<footer class="bg-footer text-white mt-4 ">
  <div class="container-fluid">
    <div class="row text-light py-4">
      <div class="col-lg-4 col-sm-6">
        <img src="../../assets/images/logo.svg" alt="" class="logo-white">
        <br>
        <div class="pt-4">
          <img src="../../assets/images/icon-location.svg" alt="" class="float-left footer-location-img">
          <p class="small footer-location-p pl-2">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>

        <div class="pt-1">
          <img src="../../assets/images/icon-phone.svg" alt="" class="float-left footer-location-img">
          <p class="small footer-location-p pl-3"> +1 543 123 4567</p>
        </div>

        <div class="pt-1">
          <img src="../../assets/images/icon-email.svg" alt="" class="float-left footer-location-img">
          <p class="small footer-location-p pl-3"> example@gmail.com</p>
        </div>

      </div>
      <div class="col-lg-2 col-sm-6">
        <ul class="list-unstyled pt-sm-4 pt-0 ul-list-style">
          <li class="pt-1">
            <a href="#" class="footer-link">About Us</a>
          </li>
          <li class="pt-1">
            <a href="#" class="footer-link">FAQ</a>
          </li>
          <li class="pt-1">
            <a href="#" class="footer-link">What We Do</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 col-sm-6">
        <ul class="list-unstyled pt-sm-4 pt-0 ul-list-style">
          <li class="pt-1">
            <a href="" class="footer-link">Career</a>
          </li>
          <li class="pt-1">
            <a href="" class="footer-link">Blog</a>
          </li>
          <li class="pt-1">
            <a href="" class="footer-link">Contact Us</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 col-sm-6">
        <ul class="list-inline text-center text-sm-left pt-sm-4 pt-0 ul-list-style">
          <li class="list-inline-item">
            <i class="fab fa-facebook  text-white icon-circle"></i>
            <i class="fab fa-twitter  text-white icon-circle"></i>
            <i class="fab fa-instagram  text-white icon-circle"></i>
          </li>
        </ul>

      </div>
    </div>
  </div>

</footer>
