<section class="bg-white align-section">
  <div class="row mt-4 pt-4 align-row">

    <!-- Grow Together Card -->
    <div class="col-12">
      <div class="card w-sm-75  mx-auto rounded bg-white card-shadow d-flex">
        <div class="card-body">
          <div class="row align-items-center d-flex">
            <div class="col-12 col-sm-7 offset-sm-1 offset-0 order-sm-1 order-2">
              <h5 class="card-h mt-sm-0 pt-sm-0 mt-4 pt-4 text-sm-left text-center">{{card_title_1}}</h5>
              <p class="card-paragraph text-sm-left text-center">Generate meaningful discussions with your audience and
                build a strong, loyal
                community. Think of the
                insightful conversations you miss out on with a feedback form.</p>
            </div>
            <div class="col-12 col-sm-4 order-sm-2 order-1">
              <img src="../../assets/images/illustration-grow-together.svg" alt="" class="img-fluid">
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Flowing Conversations Card-->
    <div class="col-12 pt-4">
      <div class="card w-sm-75  mx-auto rounded bg-white card-shadow d-flex">
        <div class="card-body">
          <div class="row align-items-center d-flex">
            <div class="col-12 col-sm-7 offset-sm-1 offset-0 order-sm-2 order-2">
              <h5 class="card-h mt-sm-0 pt-sm-0 mt-4 pt-4 text-sm-left text-center">{{card_title_2}}</h5>
              <p class="card-paragraph text-sm-left text-center">You wouldn't paginate a conversation in real life, so
                why do it online? Our threads have just-in-time loading for a more natural flow.
              </p>
            </div>
            <div class="col-12 col-sm-4 order-sm-1 order-1">
              <img src="../../assets/images/illustration-flowing-conversation.svg" alt="" class="img-fluid">
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Your Users Card  -->
    <div class="col-12 pt-4">
      <div class="card w-sm-75  mx-auto rounded bg-white card-shadow d-flex">
        <div class="card-body">
          <div class="row align-items-center d-flex">
            <div class="col-12 col-sm-7 offset-sm-1 offset-0 order-sm-1 order-2">
              <h5 class="card-h mt-sm-0 pt-sm-0 mt-4 pt-4 text-sm-left text-center">{{card_title_3}}</h5>
              <p class="card-paragraph text-sm-left text-center">It takes no time at all integrate Huddle with your
                app's authentication solution. This means, once signed in to your app, your users can start chatting
                immediately.
              </p>
            </div>
            <div class="col-12 col-sm-4 order-sm-2 order-1">
              <img src="../../assets/images/illustration-your-users.svg" alt="" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row pt-4 align-row">
    <div class="col-12 position-card">
      <!-- Join Community Card -->
      <div class="card w-55 mx-auto rounded mt-4 d-flex">
        <div class="card-body ">
          <h6 class="card-h text-center">Ready to Build Your Community?</h6>
          <div class="text-center">
            <button type="button" class="btn font-weight-bold btn-round-lg text-white btn-about-custom" id="">Get
              Started
              for
              Free</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
