<div class="header pt-3 pt-sm-5">
  <div class="headers">
    <div class="header-logo">
      <img src="../../assets/images/logo.svg" alt="" class="img-fluid" id="img-fluid-logo">
    </div>
    <div class="header-btn">
      <button type="button" class="btn btn-custom btn-lg font-weight-bold btn-round-lg" id="btn-custom-hover">Try it
        Free</button>
    </div>
  </div>

  <div class="row h-100 banner-section pt-2 pt-sm-0">
    <div class="col-sm-5 col-12 my-auto pb-sm-0 pb-4">
      <h3 class="text-sm-left text-center">Build The Community <br> Your Fans Will Love</h3>
      <p class="pt-sm-4 pt-2 text-sm-left text-center">Huddle re-imagines the way we build communities. You have a
        voice, but so does your audience. Create
        connections with your users as you engage in genuine discussion.</p>
      <div class="text-center text-sm-left">
        <button type="button" class="btn font-weight-bold btn-round-lg text-white btn-banner-custom" id="">Get Started
          for
          Free</button>
      </div>
    </div>
    <div class="col-sm-7 col-12 m-auto">
      <img src="../../assets/images/illustration-mockups.svg" alt="" class="img-fluid">
    </div>
  </div>
</div>
